*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
  }
html{
  width: 100%;
  height: 100%;
  color: peachpuff;
}


/*tags*/ 


body{
    width: 76%;
    height: 100%;
    display:block;
    box-sizing: border-box;
    margin-left: 12%;
    background-color: black;
}
a{
  all:unset;
}

/*navbar*/
.Nav_entry{
  margin-left: 60px;
  border: 2px solid lightblue;
  font-size: 25px;
  display: flex;  
  font-family:'Quicksand', sans-serif;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50px;
  margin-top:20px ;
}

/*main home page*/


.introduction{
  text-align: center;
  padding-bottom: 270px;
}
#name{
  text-align: left;
  padding-left: 60px;
  font-size: 200px;
  padding-top: 100px;
}
#description{
  text-align: left;
  padding-left:60px;
  font-size: 25px;
}



/*projects*/


.projects{
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  padding-left: 60px;
  font-size: 30px;
}
.container{
  display: flex;
}
.project_card{
  font-family: 'Quicksand', sans-serif;
  border-radius: 15px;
  text-align: left;
  margin-top:40px;
  margin-left: 50px;
  border: 2px solid lightblue;
  padding: 10px;
  margin-bottom: 200px;
  color: white;
}
.card_name{
  text-align: left;
  font-size: 40px;
}
.card_desc{
  text-align: left;
  font-size: 25px;
}



/*relavent work experience*/


.work{
  text-align: left;
  padding-left: 60px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}
.work_card{
  font-family: 'Quicksand', sans-serif;
  border-radius: 15px;
  text-align: left;
  margin-top:40px;
  margin-left: 50px;
  border: 2px solid lightblue;
  padding: 10px;
  margin-bottom: 30px;
  color: white;
}
.card_name{
  text-align: left;
  font-size: 40px;
}
.card_desc{
  text-align: left;
  font-size: 25px;
}

/* footer */

.footer ul{
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  margin-left: 60px;
  list-style-type: none;
  margin-bottom: 50px;
}
.footer li{
  display: inline;
}



/* decoration */


.lines{
  margin-left: 60px;
}

#pre_footer_line{
  margin-bottom: 10px;
}

#end_line{
  background-color: black;
  height: 1px;
  border: none;
  border-color: black;
}